name: Update M3U from JSON

on:
  push:
    paths:
      - 'sl.json'
      - 'convert.py'
  schedule:
    - cron: '0 */4 * * *'  # Runs every 4 hours automatically
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install Dependencies
        run: |
          pip install yt-dlp

      - name: Run Conversion Script
        run: python convert.py

      - name: Commit and Push Changes
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions@github.com"
          git add iptv_my.m3u
          # Commit only if there are changes
          git diff --quiet && git diff --staged --quiet || (git commit -m "Auto-update YouTube links" && git push)
